
#game {
  text-align: center;
}


#button-grid {
  background-color: #000;
  position: relative;
  padding: 1vw;
  box-shadow: 0px 0px 20px #111;
  width: 50vw;
  height: 50vw;
  border-radius: 100%;
  display: inline-grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}

#center-panel {
  background: #FFF;
  box-sizing: border-box;
  border-radius: 100%;
  border-style: solid;
  border-width: 1vw;
  border-color: Black;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  position: absolute;
}

#controls {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
}

p {
  margin: 1vh 0 0 0;
}

.simon-button {
  width: auto;
  margin: 1vw;
}

.green {
  background-color: Green;
  border-radius: 100% 0% 0% 0%;
}

.red {
  background-color: #880000;
  border-radius: 0% 100% 0% 0%;
}

.yellow {
  background-color: #bbbb00;
  border-radius: 0% 0% 0% 100%;
}

.blue {
  background-color: #000080;
  border-radius: 0% 0% 100% 0%;
} 

.pressed {
  filter: brightness(1.75);
}


