.pressed {
  filter: brightness(1.75);
}

.simon-button {
  padding: 4vw;
  border: 10px solid #555;
  /*background-repeat: no-repeat;*/
}

.green {
  background-color: Green;
  border-top-left-radius: 100%
 /* background-image: url('../svg/button-green.svg');*/
}

.red {
  background-color: #880000;
  border-top-right-radius: 100%
 /* background-image: url('../svg/button-red.svg');*/
}

.yellow {
  background-color: #bbbb00;
  border-bottom-left-radius: 100%
  /*background-image: url('../svg/button-yellow.svg');*/
}


.blue {
  background-color: #000080;
  border-bottom-right-radius: 100%;
  /*background-image: url('../svg/button-blue.svg');*/
} 


#buttongrid {
  display: flex;
  background-color: #555555;
  position: relative;
/*  margin: auto;
  text-align: center;*/
  top: 0vh;
  left: 25vw;
  width: 50vw;
  height: 50vw;
  border-radius: 100%;
  display: inline-grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}